body {
  background-color: gray;
  display: flex;
  justify-content: center;
  
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  background-color: white;
  border-radius: 50px;
  padding: 30px;
}


.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(70, 68, 68);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.686);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight:bold;
  padding: 10px 20px;
  margin: 5px;
  border:none;
  border-radius: 10px;
  min-width: 125px;      /*ver bien*/
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}


.start-button{
  background-color:hsl(115, 100%, 40%);
}

.start-button:hover{
  background-color: hsl(115, 100%, 35%);
}

.stop-button{
  background-color:hsl(10, 90%, 50%);
}

.stop-button:hover{
  background-color: hsl(10, 90%, 45%);
}

.reset-button{
  background-color:hsl(205, 90%, 60%);
}

.reset-button:hover{
  background-color:hsl(205, 90%, 55%);
}